# Solution to JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
Find the 10 countries with most projects
Find the top 10 major project themes (using column 'mjtheme_namecode')
In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

Part 1: Reading JSON file to find the top 10 countries with most projects

import for python and pandas

In [1]:
import pandas as pd
import numpy as np
import json
from pandas.io.json import json_normalize

In [2]:
worldbank_df = pd.read_json('data/world_bank_projects.json')
worldbank_df.countryname.value_counts()[:10]

People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Nepal                              12
Kingdom of Morocco                 12
People's Republic of Bangladesh    12
Africa                             11
Republic of Mozambique             11
Name: countryname, dtype: int64

Now we look at Part 2 which includes finding the  top 10 major project themes

In [3]:
worldbank_theme =json.load((open('data/world_bank_projects.json')))
theme = json_normalize(worldbank_theme, 'mjtheme_namecode')
theme.name.value_counts()[:10]

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

Looking at the dataset we can see many rows have missing name.
Our target is to look at the code and fill in the missing name
This is done in 3 steps:
First replace all rows with no name by NaN using np.nan

In [4]:
theme_NoDuplicates = theme
theme_NoDuplicates['name'] = theme_NoDuplicates['name'].replace('',np.nan)
theme_NoDuplicates.head(20)

   code                                          name
0     8                             Human development
1    11                                           NaN
2     1                           Economic management
3     6         Social protection and risk management
4     5                         Trade and integration
5     2                      Public sector governance
6    11  Environment and natural resources management
7     6         Social protection and risk management
8     7                   Social dev/gender/inclusion
9     7                   Social dev/gender/inclusion
10    5                         Trade and integration
11    4      Financial and private sector development
12    6         Social protection and risk management
13    6                                           NaN
14    2                      Public sector governance
15    4      Financial and private sector development
16   11  Environment and natural resources management
17    8                                           NaN
18   10                             Rural development
19    7                                           NaN

Second create a dataset theme_NoDuplicates with only code and the corresponding name
by dropping all rows with duplicates or NaN values

In [5]:
theme_NoDuplicates = theme_NoDuplicates.drop_duplicates()
theme_NoDuplicates = theme_NoDuplicates.dropna()
theme_NoDuplicates

    code                                          name
0      8                             Human development
2      1                           Economic management
3      6         Social protection and risk management
4      5                         Trade and integration
5      2                      Public sector governance
6     11  Environment and natural resources management
8      7                   Social dev/gender/inclusion
11     4      Financial and private sector development
18    10                             Rural development
53     9                             Urban development
252    3                                   Rule of law

Lastly use pd.merge to identify the appropriate name from theme_NoDuplicates for corresponding code and fil it in the column name_y

In [8]:
theme_AllValues = pd.merge(theme,theme_NoDuplicates, on = 'code')
theme_AllValues.head(20)

   code             name_x             name_y
0     8  Human development  Human development
1     8                NaN  Human development
2     8  Human development  Human development
3     8  Human development  Human development
4     8  Human development  Human development
5     8  Human development  Human development
6     8  Human development  Human development
7     8  Human development  Human development
8     8  Human development  Human development
9     8  Human development  Human development
10    8  Human development  Human development
11    8  Human development  Human development
12    8                NaN  Human development
13    8  Human development  Human development
14    8  Human development  Human development
15    8  Human development  Human development
16    8  Human development  Human development
17    8  Human development  Human development
18    8  Human development  Human development
19    8  Human development  Human development

To clean up the dataset and get the final number of themes, 
we remove name_x and rename the column name_y to name

In [9]:
theme_AllValues = theme_AllValues.drop('name_x', 1)
theme_AllValues.columns = ['code', 'name']
theme_AllValues.head(20)
theme_AllValues.name.value_counts()

Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
Rule of law                                      15
Name: name, dtype: int64